@using Core.Models

<div class="card p-2 mb-2">
    <h5>@Item.Type</h5>
    <p>@Item.Description</p>
    <p>Størrelse: @Item.Størrelse</p>
</div>

@code {
    [Parameter]
    public Item Item { get; set; }
}
