@using WebApp.Model
@inject Blazored.LocalStorage.ILocalStorageService localstorage
@inject NavigationManager navManager
@inherits LayoutComponentBase

<div class="page">
    
    <div class="sidebar">
        <NavMenu/>
    </div>
    
    <main>
        <div class="top-row px-4">
            <i>Logged in as: <b>@LoggedInText</b> </i>
            <button class="btn btn-sm btn-outline-secondary ms-3" @onclick="Logout">Log ud</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code
{
    User? loggedIn;
    protected override async Task OnInitializedAsync()
    {
        loggedIn = await localstorage.GetItemAsync<User?>("user");
    }

    private string LoggedInText => loggedIn is null ? "none" : $"{loggedIn.Name} [{loggedIn.Role}]";

    private async Task Logout()
    {
        await localstorage.RemoveItemAsync("user");
        navManager.NavigateTo("/login", true);
    }
}