@page "/"
@inject MinApp.Core.Interfaces.IService ItemService

<PageTitle>Items</PageTitle>

<h1>Items</h1>

@if (_items is null)
{
    <p>Indlæser...</p>
}
else
{
    <ul>
        @foreach (var item in _items)
        {
            <li>[@item.Id] @item.Name</li>
        }
    </ul>
}

@code {
    private IEnumerable<Item>? _items;

    protected override async Task OnInitializedAsync()
    {
        _items = await ItemService.GetAllAsync();
    }
}
