@page "/"
@using Blazored.LocalStorage
@using WebApp.Model
@inject NavigationManager navManager
@inject ILocalStorageService localStorage

<h1>MinApp</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        var user = await localStorage.GetItemAsync<User>("user");
        if (user == null)
        {
            navManager.NavigateTo("/login");
        }
    }
}

