@page "/"
@using Blazored.LocalStorage
@using WebApp.Model
@inject NavigationManager navManager
@inject ILocalStorageService localStorage
@inject IItemService itemService


<h1 class="mb-3 mt-3">Tøj</h1>

<button class="btn btn-primary mb-3" @onclick="ShowModal">Tilføj et stykke tøj</button>

@foreach (var item in items)
{
    <ProductItem Item="item" />
}

@if (isModalOpen)
{
    <div class="modal-backdrop">
        <div class="modal-box">
            <h3>Opret tøj</h3>

            <EditForm Model="@aItem" OnValidSubmit="@HandleSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-2">
                    <InputText @bind-Value="aItem.Type" placeholder="Type" class="form-control" />
                </div>

                <div class="mb-2">
                    <InputText @bind-Value="aItem.Størrelse" placeholder="Størrelse" class="form-control" />
                </div>

                <div class="mb-2">
                    <InputTextArea @bind-Value="aItem.Description" placeholder="Beskrivelse" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="ErLedig">Er ledig</label>
                    <InputCheckbox id="ErLedig" @bind-Value="aItem.ErLedig" class="form-check-input" />
                </div>

                <button type="submit" class="btn btn-success me-2">Gem</button>
                <button type="button" class="btn btn-secondary" @onclick="CloseModal">Annuller</button>
            </EditForm>
        </div>
    </div>
}

@code {
    private Item aItem = new();
    private bool isModalOpen = false;

    private List<Item> items = new();
    protected override async Task OnInitializedAsync()
    {
        var user = await localStorage.GetItemAsync<User>("user");
        if (user == null)
        {
            navManager.NavigateTo("/login");
        }
        items = await itemService.GetAll();
    }
    
    private void ShowModal()
    {
        isModalOpen = true;
    }

    private void CloseModal()
    {
        isModalOpen = false;
    }

    private async Task HandleSubmit()
    {
        await itemService.Add(aItem);
        items = await itemService.GetAll();

        aItem = new Item();
        isModalOpen = false;
    }
}
