@page "/"
@using Blazored.LocalStorage
@using WebApp.Model
@inject NavigationManager navManager
@inject ILocalStorageService localStorage


<h1 class="mb-3 mt-3">Tøj</h1>

<button class="btn btn-primary mb-3" @onclick="ShowModal">Tilføj et stykke tøj</button>

@if (isModalOpen)
{
    <div class="modal-backdrop">
        <div class="modal-box">
            <h3>Opret tøj</h3>

            <EditForm Model="@aProduct" OnValidSubmit="@HandleSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-2">
                    <InputText @bind-Value="aProduct.Type" placeholder="Type" class="form-control" />
                </div>

                <div class="mb-2">
                    <InputText @bind-Value="aProduct.Størrelse" placeholder="Størrelse" class="form-control" />
                </div>

                <div class="mb-2">
                    <InputTextArea @bind-Value="aProduct.Description" placeholder="Beskrivelse" class="form-control" />
                </div>
                
                <div class="mb-2">
                    <label for="ErLedig">Er ledig</label>
                    <InputCheckbox id="ErLedig" @bind-Value="aProduct.ErLedig" class="form-check-input" />
                </div>

                <button type="submit" class="btn btn-success me-2">Gem</button>
                <button type="button" class="btn btn-secondary" @onclick="CloseModal">Annuller</button>
            </EditForm>
        </div>
    </div>
}

@code {
    private Product aProduct = new();
    private bool isModalOpen = false;
    
    private List<Product> products = new();
    protected override async Task OnInitializedAsync()
    {
        var user = await localStorage.GetItemAsync<User>("user");
        if (user == null)
        {
            navManager.NavigateTo("/login");
        }
    }
    
    private void ShowModal()
    {
        isModalOpen = true;
    }

    private void CloseModal()
    {
        isModalOpen = false;
    }

    private async Task HandleSubmit()
    {
        products.Add(aProduct);
        await localStorage.SetItemAsync("products", products);

        aProduct = new Product();
        isModalOpen = false;
    }
}
