@page "/login"
@using Blazored.LocalStorage
@using Blazored.SessionStorage
@using WebApp.Model
@using WebApp.Service
@inject NavigationManager navManager
@inject ILocalStorageService localStorage
@inject ISessionStorageService sessionStorage
@inject LoginService loginService

<PageTitle>Log ind</PageTitle>

<h3>Log ind</h3>

    <div class="login-container">

        <InputText @bind-Value="username"
                   class="form-control mb-2"
                   placeholder="Indtast brugernavn"/>


                <InputText
                           type="password"
                           class="form-control mb-2"
                           @bind-Value="password"
                           placeholder="Indtast password"/>

        
        <div style="text-align: center">
            <button class="btn btn-primary" @onclick="OnClickLogin">Login</button>
            <a href="/opretbruger">Opret bruger</a>
        </div>

        @if (!string.IsNullOrEmpty(errorText))
        {
            <div class="error-message">
                <span class="error-icon">⚠️</span>
                <span class="error-text">@errorText</span>
            </div>
        }
    </div>


@code {
    private string username = "";

    private string password = "";
    
    //Bruges til at vise errortext hvis relevant
    string errorText = "";
    
    protected override async Task OnInitializedAsync()
    {
        var user = await localStorage.GetItemAsync<User>("user");
        if (user != null)
        {
            navManager.NavigateTo("/");
        }
    }
    
    private async Task OnClickLogin()  {
        User? loggedIn = loginService.ValidLogin(username, password);
        if (loggedIn != null)
        {
            await localStorage.SetItemAsync("user", loggedIn);

            navManager.NavigateTo("/", true);
        }
        else
        {
            errorText = "Wrong email or password - try again...";
        }
    }
}
